{% extends 'base.html' %}
{% block head %}
<title> Blog</title>

<link rel="stylesheet" href="{{url_for('static', filename='css/blogpage.css')}}">
{{super()}}
{% endblock  %}
{% block content %}
<section id="headsec" class="">

    <div class="row mysect"> 
        <div class="col-md-4 column">
            <a href="{{url_for('post',post_id = posts[0].id)}}">
                <div class="nested-column" style="background:url('/static/images/post/{{posts[0].post_image_location}}') ;background-position:center center;  background-size:cover; background-repeat:no-repeat;">
                    <div class="content">
                        <button class="category"> {{posts[0].category}}</button>
                        <p class="context"> {{posts[0].title}}</p>
                       <i class="fa fa-clock "></i> {{posts[0].date_created.strftime('%Y-%m-%d')}}
                       
                    </div>
    
                </div>
            </a> 
            <a href="{{url_for('post',post_id = posts[1].id)}}">
                <div class="nested-column" style="background:url('/static/images/post/{{posts[1].post_image_location}}') ; background-position:center center; background-size:cover; background-repeat:no-repeat;">
                    <div class="content">
                        <button class="category"> {{posts[1].category}}</button>
                        <p class="context">
                            {{posts[1].title}}
                        </p>
                       <i class="fa fa-clock "></i> {{posts[1].date_created.strftime('%Y-%m-%d')}}
    
                    </div>
                </div>
                 
            </a>
           
            </div>
            <a href="{{url_for('post', post_id = posts[2].id)}}">
        <div class="col-md-3 column " id="central" style="background: url('/static/images/post/{{posts[2].post_image_location}}'); background-size:cover; background-repeat:no-repeat;">
        
        <div class="content" > <button class="category"> {{posts[2].category}}</button>
       <p class=" context">  {{posts[2].title}} </p>
       <i class="fa fa-clock "></i> {{posts[1].date_created.strftime('%Y-%m-%d')}}
        </div>  
          </a>  
        </div>
          
            
        <div class="col-md-4 column">
        <a href="{{url_for('post', post_id = posts[3].id)}}">
        <div class="nested-column" style="background:url('/static/images/post/{{posts[3].post_image_location}}') ;  background-size:cover; background-repeat:no-repeat;">
                <div class="content">
                    <button class="category">{{posts[3].category}} </button>
                    <p class="context">
                      {{posts[3].title}}
                    </p>
                           <i class="fa fa-clock "></i> {{posts[3].date_created.strftime('%Y-%m-%d')}}


                </div>
            </div></a>
            <a href="{{url_for('post',post_id = posts[4].id)}}">
            
            <div class="nested-column" style="background:url('/static/images/post/{{posts[4].post_image_location}}') ;  background-size:cover; background-repeat:no-repeat;">
                <div class="content">
                    <button class="category"> {{posts[4].category}}</button>
                    <p class="context">
                         {{posts[4].title}} 
                    </p>
                 <i class="fa fa-clock "></i> {{posts[4].date_created.strftime('%Y-%m-%d')}}


                </div>
            </div> 
            </a>
            
        </div>
    </div>

</section>

<section>
    <div>
        <h1 class="text-center"> Recent Post</h1>
    </div>
    <div class="row" id="main_section">
        <div class="col-md-7  col-lg-7">
          {%for blog  in blogs.items%}
          <div class="recursive_div">
            <img src="/static/images/post/{{blog.post_image_location}}" alt="" class="recursive_image">
            <div class="text_block bg-light">
               <button class=" btn-danger  category">{{ blog.category}} </button>                  <span style="color:grey">  By   {{  blog.author }} | {{blog.date_created.strftime('%Y-%m-%d')}} </span>
                <br>
              <h4 class="text-center"> {{blog.title}}</h4>
              <p class="content-holder">
               {{blog.content}}
              </p>
                 <button class="btn btn-outline-success"> <a href="{{url_for('post',post_id = blog.id)}}"> Continue Reading</a> </button>
                </div>            
          </div>
          {%endfor%}
        </div>
       

        <div class="col-md-4 col-lg-4  mx-auto d-none p-2 d-md-block d-lg-block">
         <div class="side-container">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control   mr-sm-2" type="search" placeholder="Search posts" aria-label="Search">
          <a href="" class="fa fa-search"></a>
        </form>
        <hr id="breakline">
        <div class=" text-center">
          <img src="/static/images/icons/goal12.png" alt="" id="senior_image"> <br>

         <span>  Lewis Mutembei </span> <br>
        <span> senior blogger & developer</span> <br>
         <a href="" class="icon-link"> <i class="fab fa-facebook m-2"></i></a> <a href="" class="icon-link"> <i class="fab fa-twitter m-2"></i></a>  <a href="" class="icon-link"> <i class="fab fa-github m-2"></i> </a>  <a href="" class="icon-link"> <i class="fab fa-instagram m-2"></i></a>
          <p class="align-left ">
            Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better  than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
          </p>          
        </div>
      </div>

        </div>


    </div>
        

</section>
<section id='pagination'>
  <div class="" id="pagination-div">
    
    <ul class=" pagination-table  " >
     <li class="prev-next"> <a href="" class="text-dark"> &lt; Prev</a> </li>
    {%for page in blogs.iter_pages()%}
    {%if page %}
    
    
    <a href="{{url_for('blog',page_num = page)}} " class="list-item">  <li class=""> {{page}}</li> </a> 
    
    {%else%}
    {%endif%}
    {%endfor%}
    <li class="prev-next"><a href="" class="text-dark"> Next  &gt</a>  </li>
  
</ul>
    
  </div>
</section>

{%endblock%}

